body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar {
  background-color: #3c687c;
}
.navbar-brand {
  letter-spacing: 2px;
}
.full-width-image {
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 25px 40px 25px;
  gap: 20px;
}
.grid-2-columns-irregular {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  padding: 20px 10px;
}
header .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/2024-Portrait-2.JPEG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
  margin: 0px auto;
  width: 100%;
}
header h1,
header h2,
header a {
  letter-spacing: 3px;
  line-height: 1.5;
  color: #fff;
}
header h1 {
  font-size: 62px;
  margin-top: 80px;
  margin-bottom: 100px;
}
header h2 {
  font-size: 40px;
  margin: 10px auto;
}
header a {
  font-size: 28px;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #000;
  color: #000;
  background-color: rgba(211, 211, 211, 0.7);
  margin-bottom: 50px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 150ms ease-in-out;
}
header a:hover {
  background-color: #3c687c;
  color: #fff;
  border-color: #fff;
}
.quote-section {
  width: 80%;
  background-color: rgba(211, 211, 211, 0.4);
  margin: 30px auto;
  padding: 45px 45px;
  text-align: center;
  font-size: 25px;
  letter-spacing: 3px;
  line-height: 1.5;
}
.info-section {
  background-color: rgba(211, 211, 211, 0.2);
  margin: 30px auto;
  width: 90%;
  padding: 20px 25px;
  text-align: center;
  line-height: 1.5;
}
.info-section h3 {
  font-size: 35px;
  letter-spacing: 2px;
  margin: 20px auto;
}
.info-section p {
  font-size: 20px;
  letter-spacing: 2px;
}
.info-section .biographie-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-size: 15px;
}
.info-section .biographie-list-item {
  margin-top: 10px;
  letter-spacing: 2px;
}
#download-grid {
  margin-top: 30px;
}
#download-grid .grid-item {
  margin-top: 20px;
}

.download-area {
  padding: 50px;
}
.download-link {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 15px 10px;
  transition: 150ms all ease-in-out;
  cursor: pointer;
}
.download-link:hover {
  background-color: #fff;
}
.grid-image {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.body {
  height: 470px;
}
.portrait {
  height: 380px;
}
.image-subtitle {
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.5;
  font-size: 12px;
  margin: 10px auto;
}
.info-section #show-text-upcoming {
  text-align: center;
}
.info-section .show-button {
  color: #000;
  background-color: rgba(211, 211, 211, 0.2);
  border: 2px solid #000;
  padding: 10px 15px;
  margin: 10px 20px;
  letter-spacing: 3px;
  line-height: 1.5;
  font-size: 18px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 150ms ease-in-out;
}
.info-section .show-button:hover {
  cursor: pointer;
  color: #fff;
  border-color: #fff;
  background-color: #3c687c;
}
.info-section .show-list {
  margin: 30px auto;
  list-style-position: inside;
}
.info-section .show-list-item {
  padding-top: 5px;
  line-height: 1.5;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.5;
}

footer {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px auto;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.4);
}
footer .grid-3-columns {
  padding-top: 20px;
}

footer p {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.5;
}
footer .footer-private-policy {
  margin: 10px auto;
}
footer .footer-private-policy a {
  font-weight: 400;
  font-size: 12px;
}
footer .footer-meeting-paragraph {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
}
footer li {
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 1100px) {
  .grid-3-columns {
    grid-template-columns: 1fr;
  }
  .grid-2-columns-irregular {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .navbar-brand {
    font-size: 15px;
  }
  header .hero {
    padding: 50px 0;
  }
  header h1 {
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 70px;
  }
  header h2 {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .grid {
    grid-template-columns: 1fr;
  }

  .quote-section {
    font-size: 15px;
  }
  header a {
    font-size: 20px;
  }
  .grid-image {
    margin-top: 15px;
  }
}
